.music_player {
    margin-right: 24px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    width: 320px;
    height: 200;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 3px ridge rgb(175, 175, 175);
    border-right: 3px ridge rgb(175, 175, 175);
    border-bottom: 3px ridge rgb(175, 175, 175);
    box-shadow: inset 0px 0px 12px black;
}

.music_player .track_art {
    width: 90px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.music_player_buttons {
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.music_player_buttons button {
    border: 3px ridge rgb(0, 0, 0);
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 2px;
    width: 32px;
    height: 32px;
    box-shadow:
        inset 2px 2px 6px rgb(0, 0, 0, 0.5),
        inset -2px -2px 6px rgb(0, 0, 0, 0.5),
        inset 2px -2px 6px rgb(0, 0, 0, 0.5),
        inset -2px 2px 6px rgb(0, 0, 0, 0.5),
        -0.5px 0.5px 3px rgba(255, 255, 255, 0.5);
}

.previous_track button,
.next_track button {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

.shuffle_list button,
.repeat_track button {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 100px;
}

.playpause_track button {
    border-radius: 3px;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider {
    margin: 2px;
}

.track_name {
    white-space: nowrap;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.current_time, .total_duration {
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
}