.music_player {
    margin-right: 24px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    width: 320px;
    height: 200;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 3px ridge rgb(175, 175, 175);
    border-right: 3px ridge rgb(175, 175, 175);
    border-bottom: 3px ridge rgb(175, 175, 175);
    box-shadow: inset 0px 0px 12px black;
}

.music_player_buttons {
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.music_player_buttons button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 2px;
    width: 32px;
    height: 32px;
}

.previous_track button, .next_track button {
    border-radius: 100px;
    border: 3px ridge rgb(175, 175, 175);
}

.playpause_track button {
    border: 3px ridge rgb(175, 175, 175);
    border-radius: 1px;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider {
    margin: 2px;
}