body {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: circle;
}

li {
    font-size: 24px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color:blueviolet;
}

a:hover {
    color: crimson;
}

a:active {
    color: goldenrod;
}

#wordmark {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: -32px;
    font-size: 32px;
}

#skull {
    font-size: 46px;
}