body {
    background: url("background.png") center/cover;
    background-color: black;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;

    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}

li {
    margin: 6px;
    font-size: 24px;
    font-weight: lighter;
    text-shadow: 
    0.5px 0.5px rgba(255, 255, 255, 0.5), 
    -0.5px -0.5px rgba(255, 255, 255, 0.5), 
    0.5px -0.5px rgba(255, 255, 255, 0.5), 
    -0.5px 0.5px rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    color:blueviolet;
}

a:hover {
    color: crimson;
}

a:active {
    color: goldenrod;
}

#wordmark {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:fixed;
    bottom: -32px;
    font-size: 32px;

    background: linear-gradient(to right, blueviolet, crimson, goldenrod);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.60);
}

#skull {
    font-size: 46px;
}

img {
    width: 75px;
    margin-bottom: 12px;
    vertical-align: middle;
    border-radius: 1px;
    outline: 3px ridge rgb(175, 175, 175);
    box-shadow: 
    2px 2px 6px rgb(0, 0, 0, 0.5), 
    -2px -2px 6px rgb(0, 0, 0, 0.5), 
    2px -2px 6px rgb(0, 0, 0, 0.5), 
    -2px 2px 6px rgb(0, 0, 0, 0.5);
}