body {
    background-color: black;
    color: white;
}

ul {
    list-style-type: circle;
}

a {
    text-decoration: none;
    color:blueviolet;
}

a:hover {
    color: crimson;
}

a:active {
    color: goldenrod;
}

#wordmark {
    position: absolute;
    bottom: -32px;
    font-size: 32px;
}

#skull {
    font-size: 46px;
}