body {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-height: 100dvh;
    overflow: hidden;
  
    background: linear-gradient(#2a2a2e, #1b1b1b) center / cover fixed no-repeat;

    color: rgb(248, 225, 91);
    text-shadow: 0px 0px 2px white;
    
    font-family: 'Courier New', Courier, monospace;
}
